.chat-header {
  padding: 16px 32px;
  background-color: #101010;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
    font-family: Pristina;

  }

  button {
    width: 45px;
    height: 45px;
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 50%;
    background-color: #c0392b;
    cursor: pointer;

  }

  button:hover {
    background-color: #ea5444;
  }

  button:focus {
    outline: 0;
  }

}